<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html">
            <img id="img4" src="Imagenes/eurekLogo.png"  alt="">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="index.html">Inicio</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="mapaHere.html">Explorar Mapas<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="active"><a href="mapaHere.html">Mapa Here</a></li>
            <li><a href="mapasGoogle.html">Mapa Google</a></li>

          </ul>
        </li>
        <li><a href="climaHere.html">Clima</a></li>
        <li><a href="MapaGeocode.html">Geocodificación</a></li>
        <li><a href="vehiculos.html">Vehiculos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
        <li><a href="Login/index.html"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesion</a></li>
      </ul>
    </div>
  </div>
</nav>


<img id="loading" style="display: none;" src="loading.gif">



<div id="mapHere" align="center">
<iframe src="https://share.here.com/"  
marginwidth="0" marginheight="0" name="ventana_iframe" scrolling="no" border="0"  
frameborder="0" width="100%" height="600px"> 
</iframe> 

</div>


<div class="fixed-action-btn" >
<a routerLink="/perfil" class="btn-floating btn-large red btn tooltipped" data-position="left" data-tooltip="Usuario">
<i class="large material-icons">face</i>
</a>
<ul>
<li><a  routerLink="/register" class="btn-floating green tooltipped" data-position="left" data-tooltip="Registrate"><i class="material-icons">publish</i></a></li>
<li><a  routerLink="/login" class="btn-floating blue tooltipped" data-position="left" data-tooltip="Iniciar Sesion"><i class="material-icons">how_to_reg</i></a></li>
</ul>
</div>

